<mat-toolbar>
  My Navbar
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="shop">
      <button [routerLink]="['/shops']"> Shops </button>
      <button [routerLink]="['/departments']"> Departments </button>
    </div>
    <div class="product">
      <button [routerLink]="['/products']"> Products </button>
      <button [routerLink]="['/brands']"> Brands </button>
    </div>

    <div class="staff">

      <button [routerLink]="['/']"> Staff </button>

      <button [routerLink]="['/']"> Department Manager </button>

      <button [routerLink]="['/']"> Team Manager </button>

      <button [routerLink]="['/']"> Director </button>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
