<mat-toolbar>
    My Navbar
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav>

    </mat-sidenav>
    <mat-sidenav-content>
    <div class="shop">
        <button> Shop </button>
    </div>
    <div class="product">
        <button> Product </button>
    </div>

    <div class="staff">

        <button> Staff </button>

        <button> Department Manager </button>

        <button> Team Manager </button>

        <button> Director </button>
       
    </div>
</mat-sidenav-content>

</mat-sidenav-container>