.nav-main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 12%;
    height: 88%;
}

.navbar {
    width: 17%;
    height: 100%;
}

.content-main {
    width: 83%;
}